<?xml version="1.0" encoding="UTF-8"?>

<!-- 
 * Web XMPP
 * Copyright 2012 Fabio Mancinelli <fabio@mancinelli.me>
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *
-->

<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:web="http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
  version="2.4">

  <display-name>Web XMPP</display-name>
  <listener>
    <listener-class>org.test.web.xmpp.VysperListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>BoshServlet</servlet-name>
    <servlet-class>org.test.web.xmpp.WebXMPPBoshServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoshServlet</servlet-name>
    <url-pattern>/bosh</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>web-xmpp.html</welcome-file>
  </welcome-file-list>
</web-app>
